* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5em;
  line-height: 1.5;
}

button {
  font-size: 0.8rem;
  border: 3px solid black;
  padding: 0.5rem 1rem;
  transition: all 0.1s ease-in;
}

nav button {
  margin: 0.5rem 1rem;
}

main {
  margin: 4rem auto;
  max-width: 700px;
  min-height: 500px;
  background: white;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

section {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

label {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  font-size: 0.8em;
}

input,
select {
  border: 3px solid black;
  padding: 0.5rem 1rem;
  margin: 0.25rem 0 1rem;
  font-size: 1rem;
}

ul {
  list-style: none;
}

li {
  margin: 1.5rem 0;
}